<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">

<link rel="stylesheet" href="path/to/intlTelInput.css">

<script src="/static/js/qrcode.js" type="text/javascript"></script>
<script src="/static/js/qrcode.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js" integrity="sha256-c3RzsUWg+y2XljunEQS0LqWdQ04X1D3j22fd/8JCAKw=" crossorigin="anonymous"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

<style>
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
</style>
</head>
<div class="container">
<br>
    <div class="row justify-content-center">
        <div class="col-md-12">
        <div class="card">
        <header class="card-header" align="center">
            <img src="/static/images/emblem.png" style="width:40%; max-width:100px;">
            <h4>MINISTRY OF HEALTH<br></h4>
            <h4 class="card-title mt-2" align="center">Travelers Health Surveillance Form</h4>
            <p>Providing the following information to a Port Health Officer is required under the Public Health Act CAP 242 of the laws of Kenya, and is being collected as part of public health response to the Corona Virus pandemic.</p>
        </header>
        <article class="card-body">
        <form class="airline_travellers_form" method="POST"  action="{% url 'veoc:airline_registration' %}">
        {% csrf_token %}
        <h6> Kindly note that fields marked with <span style="color:red">*</span> are required, they must be filled before submitting the form.</h6>
        <br>
            <div class="form-row">
                <div class="col form-group">
                    <label>First name:  <span style="color:red">*</span></label>
                    <input class="form-control" type="text" id="first_name" name="first_name" placeholder="First Name, example Jane" required/>
                </div> <!-- form-group end.// -->
                <div class="col form-group">
                    <label>Middle name:</label>
                    <input class="form-control" type="text" id="middle_name" name="middle_name" placeholder="Middle Name"/>
                </div> <!-- form-group end.// -->
                <div class="col form-group">
                    <label>Last name:  <span style="color:red">*</span></label>
                    <input class="form-control" type="text" id="last_name" name="last_name" placeholder="Last Name, example Doe" required/>
                </div> <!-- form-group end.// -->
                </div>
                <div class="form-row">
                <div class="col form-group">
                    <label for="sex">Gender :  <span style="color:red">*</span></label>
                    <select class="form-control" id="sex" name="sex" required>
                      <option value="" disabled selected>Select your Gender</option>
                         <option value="Male">Male</option>
                         <option value="Female">Female</option>
                     </select>
                </div> <!-- form-group end.// -->
                <div class="col form-group">
                    <label for="dob">Date of Birth :  <span style="color:red">*</span></label>
                    <div class="demo form-row">
                      <select class="form-control col-4" id="dob_days" required>
                        <option value="" disabled selected>Select Day</option>
                      </select>
                    <select class="form-control col-4" id="dob_months" required>
                      <option value="" disabled selected>Select Month</option>
                    </select>
                    <select class="form-control col-4" id="dob_years" required>
                      <option value="" disabled selected>Select Year</option>
                    </select>
                    <input type="hidden" name="dob" id="dob" required>
</div>
                </div> <!-- form-group end.// -->
                </div> <!-- form-row end.// -->
                <div class="form-row">
                <div class="col form-group">
                    <label for="nationality">Nationality :  <span style="color:red">*</span></label>
                     <select class="form-control" name="nationality" id="nationality" required>
                          <option value="" disabled selected>Select Nationality</option>
                          {% for cntry in country %}
                              <option value="{{cntry.name}}">{{cntry.name}}</option>
                          {% endfor %}
                      </select>
                </div> <!-- form-group end.// -->
                <div class="col form-group">
                    <label for="country">Country of Origin :  <span style="color:red">*</span></label>
                     <select class="form-control" name="country" id="country" onchange="region_filter()" required>
                          <option value="" disabled selected>Select Country</option>
                          {% for cntry in country %}
                              <option value="{{cntry.name}}">{{cntry.name}}</option>
                          {% endfor %}
                      </select>
                </div> <!-- form-group end.// -->
                <div class="col form-group">
                    <label for="date_of_arrival">Date of Arrival in Kenya:  <span style="color:red">*</span></label>
                    <!--<input class="form-control" type="date" value="{{ day }}" id="date_of_arrival" max="{{ maxday }}" min="{{day}}" name="date_of_arrival">-->
                    <div class="demo form-row">
                      <select class="form-control col-4" id="days" required>
                        <option value="" disabled selected>Day</option>
                      </select>
                    <select class="form-control col-4" id="months" required>
                      <option value="" disabled selected>Month</option>
                    </select>
                    <select class="form-control col-4"id="years" required>
                      <option value="" disabled selected>Year</option>
                    </select>
                    <input type="hidden" name="date_of_arrival" id="date_of_arrival" required>
                    <span id="message"></span>
</div>
                </div> <!-- form-group end.// -->
            </div> <!-- form-row end.// -->
            <div class="form-row">
                <div class="col form-group">
                    <label for="passport_number">ID / Passport Number :  <span style="color:red">*</span></label>
                    <input class="form-control" type="text" id="passport_number" name="passport_number" placeholder="National ID or Passport Number" required/>
                </div> <!-- form-group end.// -->
                <div class=" col form-group">
                    <label for="phone_number">Phone Number : <span style="color:red">*</span></label>
                    <input class="form-control" type="tel" id="phone_number" name="phone_number" onchange="checkPhone()" minlength = "6" placeholder=" e.g 720000000" required/>
                    <small class="form-text text-muted">This is only for notification purposes.</small>
                </div> <!-- form-group end.// -->
                <div class="col form-group">
                    <label>Email address</label>
                    <input class="form-control" type="email" id="email_address" name="email_address" placeholder="Email Address: example@gmail.com"/>
                    <small class="form-text text-muted"><span style="color:red">Confirmation QR Code will be sent to this email.</span></small>
                </div> <!-- form-group end.// -->
              </div> <!-- form-row end.// -->
                <div class="form-row">
                <div class="col form-group">
                    <label for="airline">Airline : <span style="color:red">*</span> </label>
                    <input class="form-control" type="text" id="airline" name="airline" size="45" minlength = "2" placeholder="Airline, example: Kenya Airways" required/>
{#                    <select class="form-control" name="airline" id="airline" required>#}
{#                          <option value="" disabled selected>Select Airline</option>#}
{#                          {% for list in airline_list %}#}
{#                              <option value="{{list.airline_name}}">{{list.airline_name}}</option>#}
{#                          {% endfor %}#}
{#                      </select>#}
                </div> <!-- form-group end.// -->
                <div class="col form-group">
                    <label for="flight_number">Flight Number : <span style="color:red">*</span> </label>
                    <input class="form-control" type="text" id="flight_number" name="flight_number" size="45" minlength = "2" placeholder="Flight Number" required/>
                </div> <!-- form-group end.// -->
                <div class="col form-group">
                    <label for="seat_number">Seat Number : <span style="color:red">*</span> </label>
                    <input class="form-control" type="text" id="seat_number" name="seat_number" size="45" minlength = "2"  placeholder="Seat Number" required/>
                </div> <!-- form-group end.// -->
            </div> <!-- form-row end.// -->
            <div class="form-row">
                <div class="col form-group">
                    <label for="destination_city">Destination City : </label>
                    <input class="form-control" type="text" id="destination_city" name="destination_city" size="45" placeholder="Destination City, Example: Nairobi"/>
                </div> <!-- form-group end.// -->
                <div class="col form-group">
                    <label for="countries_visited">Countries Visited : </label>
                     <select class="form-control" name="countries_visited" id="countries_visited" >
                          <option value="" disabled selected>Which country have you recently visited?</option>
                          {% for cntry in country %}
                              <option value="{{cntry.name}}">{{cntry.name}}</option>
                          {% endfor %}
                      </select>
                </div> <!-- form-group end.// -->
                <div class="col form-group">
                    <label for="fever">Fever (37.5°C or higher): <span style="color:red">*</span> </label>
                     <select class="form-control" id="fever" name="fever" required>
                         <option value="" disabled selected>Do you have a fever?</option>
                         <option value="t">Yes</option>
                         <option value="f">No</option>
                     </select>
                </div> <!-- form-group end.// -->
                </div>
                <div class="form-row">
                <div class="col form-group">
                    <label for="feverish">Feverish : <span style="color:red">*</span> </label>
                    <select class="form-control" id="feverish" name="feverish" required>
                        <option value="" disabled selected>Are you feeling feverish?</option>
                        <option value="t">Yes</option>
                        <option value="f">No</option>
                    </select>
                </div> <!-- form-group end.// -->
                <div class="col form-group">
                    <label for="covid_pcr"> Negative Covid19 PCR : <span style="color:red">*</span> </label>
                    <select class="form-control" id="covid_pcr" name="covid_pcr" required>
                        <option value="" disabled selected>Do you have a Negative PCR certificate?</option>
                        <option value="t">Yes</option>
                        <option value="f">No</option>
                    </select>
                </div> <!-- form-group end.// -->
                <div class="col form-group">
                    <label for="chills">Chills : <span style="color:red">*</span> </label>
                    <select class="form-control" id="chills" name="chills" required>
                        <option value="" disabled selected>Do you have chills?</option>
                        <option value="t">Yes</option>
                        <option value="f">No</option>
                    </select>
                </div> <!-- form-group end.// -->
              </div>
              <div class="form-row">
                <div class="col form-group">
                    <label for="cough">Cough : <span style="color:red">*</span> </label>
                    <select class="form-control" id="cough" name="cough" required>
                        <option value="" disabled selected>Do you have a cough?</option>
                        <option value="t">Yes</option>
                        <option value="f">No</option>
                  </select>
                </div> <!-- form-group end.// -->
                <div class="col form-group">
                    <label for="breathing_difficulty">Difficulty in breathing :* </label>
                    <select class="form-control" id="breathing_difficulty" name="breathing_difficulty" required>
                        <option value="" disabled selected>Are you having difficulty breathing</option>
                        <option value="t">Yes</option>
                        <option value="f">No</option>
                  </select>
                </div> <!-- form-group end.// -->
                </div>
                <div class="form-row">
                <div class="col form-group">
                    <label for="callername">Name of Contact Person (Next of Kin): </label>
                    <input class="form-control" type="text" id="nok" name="nok" placeholder="Name of your Next of Kin "/>
                </div> <!-- form-group end.// -->
                <div class="col form-group">
                    <label for="callername">Phone Number of Contact Person : </label>
                    <input class="form-control" type="number" id="nok_phone_num" name="nok_phone_num" minlength="10" placeholder="Phone Number of your Next of Kin"/>
                </div> <!-- form-group end.// -->
            </div> <!-- form-row end.// -->

            <div class="form-row">
                <div class="col form-group">
                    <label for="residence">Village/House Number/Hotel : </label>
                    <input class="form-control" type="text" id="residence" name="residence" placeholder="Residence"/>
                </div> <!-- form-group end.// -->
                <div class="col form-group">
                    <label for="estate">Sublocation/Estate : </label>
                    <input class="form-control" type="text" id="estate" name="estate" placeholder="Subloaction or Estate"/>
                </div> <!-- form-group end.// -->
                <div class="col form-group">
                    <label for="postal_address">Postal Address : </label>
                    <input class="form-control" type="text" id="postal_address" name="postal_address" placeholder="Postal Address"/>
                </div> <!-- form-group end.// -->
            </div> <!-- form-row end.// -->
            <div class="form-row">
            <div class="form-group"  style="display: none;">
                <label for="measured_temperature">Measured Temperature :* </label>
                <input class="form-control" type=number' id="measured_temperature" name="measured_temperature" value="0.0">
              </div>
                </div>
            <div class="form-group">
                <button type="submit" id="save_button" class="btn btn-primary btn-block"> Submit  </button>
            </div> <!-- form-group// -->

        </form>
        </article> <!-- card-body end .// -->
        </div> <!-- card.// -->
        </div> <!-- col.//-->
    </div> <!-- row.//-->

</div>
<!--container end.//-->

<br><br>
<article class="bg-secondary mb-3">
<div class="card-body text-center">

    <div class="tab-pane fade" id="qr_code_generator">
        <hr>
        <div class="panel panel-default table-responsive">
            <div class="panel-heading">
                Travellers QR Code
            </div>
            <hr>
            <div class="invoice-box" id="dvQRCode" style="background-color:white">
                <table id="dvTable" style="background-color:white">
                    <div class="top">
                        <td colspan="2">
                            <div>
                                <div>
                                    <header class="card-header" align="center">
                                        <img src="/static/images/emblem.png" style="width:40%; max-width:100px;">
                                        <h4>MINISTRY OF HEALTH<br>COVID-19 TRAVELERS HEALTH SURVEILLANCE FORM QR CODE</h4>
                                    </header>

                                </div>
                            </div>
                        </td>
                    </div>
                    <tr class="information" align="center">
                        <td colspan="2" align="center">
                            <table>
                                <tr>
                                    <td>
                                        <br><p id="qr-td" style="float: center;">&nbsp</p><br>
                                    </td>
                                    <td></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr class="information">
                        <td colspan="2">
                            <table>
                                <tr>
                                    <td><b>This QR Code should be displayed to the Port health Official upon arrival at the airport.</b>
                                    </td>
                                    <td></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr class="information">
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="information">
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div id="elementH"></div>
        <div>
        <hr>
{#        <button class="btn btn-lg btn-success pull-left" type="button" onclick="saveDiv()"><i class="glyphicon glyphicon-save"></i> Save PDF</button>#}

        </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>


    <script src="https://code.jquery.com/jquery-3.4.1.js" type="text/javascript"></script>
       <script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script>
        <script src="https://code.jquery.com/ui/jquery-ui-git.js" type="text/javascript"></script>
       <link href="https://code.jquery.com/ui/jquery-ui-git.css" rel="Stylesheet" type="text/css" />
       	<link href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.3/css/intlTelInput.css" rel="Stylesheet" type="text/css" />
       <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.3/js/intlTelInput.js"></script>
       <script>
         var input = document.querySelector("#phone_number");
         window.intlTelInput(input, {
           // any initialisation options go here
           separateDialCode:true,
           initialCountry: 'ke',
         });
//alert(formatDate(' '));

    $(document).ready(function() {

      var monthNames = [ "January", "February", "March", "April", "May", "June",
    "July", "August", "September", "October", "November", "December" ];

for (i = new Date().getFullYear(); i > 1900; i--){
    $('#dob_years').append($('<option />').val(i).html(i));
}

for (i = 1; i < 13; i++){
    $('#dob_months').append($('<option />').val(i).html(i));
}
for (i = 1; i < 32; i++){
    $('#dob_days').append($('<option />').val(i).html(i));
}
 updateNumberOfDaysDOB();

$('#dob_years, #dob_months, #dob_days').on("change", function(){
    updateNumberOfDaysDOB();
});



function updateNumberOfDaysDOB(){
  //  $('#dob_days').html('');
    dob_month=$('#dob_months').val();
    dob_year=$('#dob_years').val();
    dob_days=$('#dob_days').val();


    //$('#message').html(year+"/"+month+"/"+days);
    //$('#date_of_arrival').html(year+"/"+month+"/"+days);
    var newdatedob = dob_year+"-"+dob_month+"-"+dob_days
    document.getElementById("dob").value = newdatedob;
}

function daysInMonth(dob_month, dob_year) {
    return new Date(dob_year, dob_month, 0).getDate();
}

          var monthNames = [ "January", "February", "March", "April", "May", "June",
        "July", "August", "September", "October", "November", "December" ];

    for (i = new Date().getFullYear(); i > 2019; i--){
        $('#years').append($('<option />').val(i).html(i));
    }

    for (i = 8; i < 9; i++){
        $('#months').append($('<option />').val(i).html(i));
    }
    var currentdate = new Date(Date.now()).getDate();
    var maxdate = new Date(Date.now() + 7 * 24 * 60 * 60 * 1000);
    var newmaxdate = maxdate.getDate();
    console.log(newmaxdate);
    for (i = currentdate; i < newmaxdate; i++){
        $('#days').append($('<option />').val(i).html(i));
    }
     updateNumberOfDays();

    $('#years, #months, #days').on("change", function(){
        updateNumberOfDays();
    });



    function updateNumberOfDays(){
      //  $('#days').html('');
        month=$('#months').val();
        year=$('#years').val();
        days=$('#days').val();



        //$('#message').html(year+"/"+month+"/"+days);
        //$('#date_of_arrival').html(year+"/"+month+"/"+days);
        var newdate = year+"-"+month+"-"+days
        document.getElementById("date_of_arrival").value = newdate;
    }

    function daysInMonth(month, year) {
        return new Date(year, month, 0).getDate();
    }
      console.log("{{maxday}}")
        var travellersForm = $(".airline_travellers_form")

        travellersForm.submit(function(e){
            e.preventDefault();
            var thisForm = $(this);
            var endPoint = thisForm.attr("action") || window.location.href;
            var method = thisForm.attr("method");
            var formData = thisForm.serialize();

            Swal.fire({
                title: "Please wait,Saving Details!",
                imageUrl: "/static/images/ajax-loader.gif",
                showConfirmButton: false,
                allowOutsideClick: false
            });
            $.ajax({
                type:method,
                url:endPoint,
                data: formData,
                success:function(data){
                    if(data == "error"){
                      Swal.fire({
                        title: 'Duplicate Data Entry!!',
                        text: 'Names and Phone number entered already exist in the system and still ongoing quarantine!!',
                        icon: 'info'
                      });
                    }else {
                        Swal.fire({
                            title: 'Success!',
                            text: 'Travellers Details Saved',
                            icon: 'success'
{#                        }).then(function(){#}
{#                            window.location = "{% url 'veoc:airline_registration_qr' %}";#}
                        });
                        travellersForm[0].reset();
                        {# get inserted datas uuid got generation of QRcode pass it to the function generating the code#}
                        console.log(data);
                        generate_QRCode(data);
                    }
                },
                error:function(er){
                    console.log("Airport Quarantine saving error");
                    console.log(er.responseText);
                    Swal.fire({
                        title: 'Error!',
                        text: 'Airport Quarantine Details Cannot be Saved',
                        icon: 'error'
                    });
                }
            });

        });

    });

    function generate_QRCode(uuid){
        //System QR Code for scanning travellers details

        console.log("Inside generate_QRCode");
        console.log(uuid);
        var qrcode = new QRCode(document.getElementById('qr-td'),{
            width:300,
            height:300
        });

        qrcode.makeCode(uuid)
        var options = {};
        var pdf = new jsPDF('p', 'pt', 'a4');
        pdf.addHTML($("#dvQRCode"), 15, 15, options, function() {
            pdf.save('Travellers_QR_Code.pdf');
            pdf = new jsPDF('p', 'pt', 'a4');
            location.reload(true);
        });
    }

    </script>
