{% extends "veoc/main_template.html" %}

{% block main %}

    <script type="text/javascript"
        src="https://cdn.datatables.net/v/dt/jqc-1.12.3/jszip-2.5.0/pdfmake-0.1.18/dt-1.10.12/b-1.2.2/b-flash-1.2.2/b-html5-1.2.2/b-print-1.2.2/datatables.min.js"></script>

            <div id="main-container">
        			<div id="breadcrumb">
        				<ul class="breadcrumb">
        					 <li><i class="fa fa-home"></i><a href="{% url 'veoc:access_dashboard' %}"> Dashboard</a></li>
        					 <li class="active">Incomplete Profile Airport Traveler Report</li>
        				</ul>
        			</div><!-- /breadcrumb-->

              <div class="panel-heading"><b>COVID19 Airport Traveler Incomplete Profile Report</b></div>
              <!-- Edit Quarantine modal -->
              <div class="modal fade" id="edit_quarantine_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Border Point Edit</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form method="post" class="quarantine_register_form" action="{% url 'veoc:edit_airport_complete' %}">
                        {% csrf_token %}
                          <div class="modal-body">
                            <div class="form-group" style="display: block;">
                                <input type="hidden" class="form-control edit_id" id="airport_id" name="airport_id" style="display: block;">
                            </div>
                            <div class="form-row" id="country_details_div">
                              <div class="form-group col-md-4">
                                    <label>First Name :</label>
                                  <input type="text" class="form-control edit_first_name"  name="first_name" disabled>
                                </div>
                              <div class="form-group col-md-4">
                                    <label>Last Names :</label>
                                  <input type="text" class="form-control edit_last_name" name="last_name" disabled>
                                </div>
                              <div class="form-group col-md-4">
                                    <label>ID/ Passport Number :</label>
                                  <input type="number" class="form-control edit_passport_number" name="passport_number" disabled>
                                </div>
                                </div>
                                <div class="form-row" id="country_details_div">
                                          <div class="form-group col-md-6">
                                            <label for="measured_temperature">Measured Temperature :* </label>
                                            <input class="form-control" type=number step=0.01 id="measured_temperature" name="measured_temperature" onchange="checkTemp()" maxlength="5" placeholder="Measured Temperature" required>
                                          </div>
                                          <div class="form-group col-md-6">
                                            <label for="arrival_airport_code">Arrival Airport Code :* </label>
                                            <input class="form-control" type="text" id="arrival_airport_code" name="arrival_airport_code" placeholder="Arrival Airport Code" required/>
                                          </div>
                                       </div>
                                       <div class="form-row" id="save_div">
                                            <div class="form-group col-md-4">
                                              <label for="released">Released :* </label>
                                              <select class="form-control" id="released" name="released" required>
                                                  <option value="" disabled selected>Select Option</option>
                                                  <option value="t">Yes</option>
                                                  <option value="f">No</option>
                                            </select>
                                            </div>
                                            <div class="form-group col-md-4">
                                              <label for="risk_assessment_referal">Risk Assesment Referral : </label>
                                                <select class="form-control" id="risk_assessment_referal" name="risk_assessment_referal" required>
                                                    <option value="" disabled selected>Select Option</option>
                                                    <option value="t">Yes</option>
                                                    <option value="f">No</option>
                                              </select>
                                            </div>
                                            <div class="form-group col-md-4">
                                              <label for="designated_hospital_referal">Designated Hospital Referral  : </label>
                                              <select class="form-control" id="designated_hospital_referal" name="designated_hospital_referal" required>
                                                <option value="" disabled selected>Select Option</option>
                                                <option value="t">Yes</option>
                                                <option value="f">No</option>
                                          </select>
                                            </div>
                                            </div>
                                </div>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            <button type="submit" id="addeditsitebtn" class="btn btn-success btn-sm pull-right">Save Changes</button>
                        </form>
                    </div>
                  </div>
                </div>
              </div>

        			<div class="padding-md">
        				<div class="row">
        					<div class="col-md-12">
        						<div class="panel panel-default table-responsive">
        							<div class="panel-heading">
        								Incomplete Profile Airport Traveler Report
        								<span class="label label-info pull-right" id="totalspan">{{traveller_details_count}} Registrations </span>
        							</div>
        							<div class="padding-md clearfix">
        							<table class="table table-hover" id="quarantine_complete_report">
                        <thead class="thead-dark">
                          <tr>
                            <th>Last Name</th>
                            <th>First Name</th>
                            <th>Age</th>
                            <th>Gender</th>
                            <th>Mobile Number</th>
                            <th>Passport/ID Number</th>
                            <th>Nationality</th>
                            <th>Origin Country</th>
                            <th>Date of Registration</th>
                            <th>Complete Registration</th>
                          </tr>
                          </thead>
                          <tbody>
                          {% for follow in my_list_data %}
                          <tr>
                            <td>{{ follow.patient_contacts.last_name }}</td>
                            <td>{{ follow.first_name }}</td>
                            <td>{{ follow.age }}</td>
                            <td>{{ follow.sex }}</td>
                            <td>{{ follow.phone_number }}</td>
                            <td>{{ follow.passport_number }}</td>
                            <td>{{ follow.nationality }}</td>
                            <td>{{ follow.origin_country }}</td>
                            <td>{{ follow.created_at|date:'d-m-Y' }}</td>
                            <td>
                                <button type="button" class="btn btn-info btn-sm pull-left edit_button"
                                        data-toggle="modal" data-target="#edit_quarantine_modal"
                                        data-id="{{ follow.patient_contacts.pk }}"
                                        data-last_name="{{ follow.patient_contacts.last_name }}"
                                        data-first_name="{{ follow.patient_contacts.first_name }}"
                                        data-middle_name="{{ follow.patient_contacts.middle_name }}"
                                        data-passport_number="{{ follow.patient_contacts.passport_number }}"
                                        data-phone_number="{{ follow.patient_contacts.phone_number }}"
                                        data-nationality="{{ follow.patient_contacts.nationality }}"
                                        data-origin_country="{{ follow.origin_country }}"
                                        data-place_of_diagnosis="{{ follow.patient_contacts.place_of_diagnosis }}"
                                        data-quarantine_site="{{ follow.patient_contacts.quarantine_site.site_name }}"
                                        data-nok="{{ follow.patient_contacts.nok }}"
                                        data-nok_phone_num="{{ follow.patient_contacts.nok_phone_num }}"
                                        title="Edit">
                                    <i class="fa fa-edit">
                                    </i>
                                </button>
                            </td>
                          </tr>
                        {% endfor %}
                      </tbody>
    							</table>
                                    <div class="pagination">
                                <span class="step-links">
                                    {% if page_obj.has_previous %}
                                        <a href="?page=1">&laquo; first</a>
                                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                                    {% endif %}

                                    <span class="current">
                                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                    </span>

                                    {% if page_obj.has_next %}
                                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                                    {% endif %}
                                    {#                                    <br>pages#}
{#                                    {% for i in page_range %}#}
{#                                        <a href="{{ i }}">{{ i }}</a>#}
{#                                    {% endfor %}#}
                                </span>
                            </div>
                </div>
              </div>
    				</div>
    			</div><!-- /row-->
        </div><!-- /.padding-md -->
      </div><!-- /main-container -->

{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  <script>
    $(document).on( "click", '.edit_button',function(e) {
      var id = $(this).data('id');
      var first_name = $(this).data('first_name');
      var last_name = $(this).data('last_name');
      var passport_number = $(this).data('passport_number');

      console.log(id);

      $(".edit_id").val(id);
      $(".edit_first_name").val(first_name);
      $(".edit_last_name").val(last_name);
      $(".edit_passport_number").val(passport_number);
  });


  var quarantineForm = $(".quarantine_register_form")

  quarantineForm.submit(function(e){
    e.preventDefault();
    console.log("inside quarantineForm");
    var thisForm = $(this);
    var endPoint = thisForm.attr("action") || window.location.href;
    var method = thisForm.attr("method");
    var formData = thisForm.serialize();

    Swal.fire({
      title: "Please wait!, Saving Details!",
      imageUrl: "/static/images/ajax-loader.gif",
      showConfirmButton: false,
      allowOutsideClick: false
    });
    $.ajax({
      type:method,
      url:endPoint,
      data: formData,
      success:function(){
        Swal.fire({
          title: 'Success!',
          text: 'Traveler Details Saved',
          icon: 'success',
          timer: 3000
        });
        quarantineForm[0].reset();
        location.reload(true);
      },
      error:function(er){
        console.log("Traveler Details Saving Error");
        console.log(er.responseText);
        Swal.fire({
          title: 'Error!',
          text: 'Traveler Details Cannot be Saved',
          icon: 'error'
        });
      }
    });

  });



    $(document).ready(function () {
          $('#quarantine_complete_report').DataTable({
              "order": [],
              dom: 'Bfrtip',
              buttons: [
                  'copy', 'csv', 'excel', 'pdf', 'print'
              ]
          });

          // Setup - add a text input to each footer cell
          $('#quarantine_complete_report thead td').each(function () {
              var title = $(this).text();
              $(this).html('<input type="text" placeholder="Search ' + title + '" />');
          });

          // DataTable
          var table = $('#quarantine_complete_report').DataTable();

          // Apply the search
          table.columns().every(function () {
              var that = this;

              $('input', this.header()).on('keyup change', function () {
                  if (that.search() !== this.value) {
                      that
                              .search(this.value)
                              .draw();
                  }
              });
          });
      });

  </script>
{% endblock %}
