{% extends "veoc/main_template.html" %}

{% block main %}

    <script type="text/javascript"
        src="https://cdn.datatables.net/v/dt/jqc-1.12.3/jszip-2.5.0/pdfmake-0.1.18/dt-1.10.12/b-1.2.2/b-flash-1.2.2/b-html5-1.2.2/b-print-1.2.2/datatables.min.js"></script>

            <div id="main-container">
        			<div id="breadcrumb">
        				<ul class="breadcrumb">
        					 <li><i class="fa fa-home"></i><a href="{% url 'veoc:access_dashboard' %}"> Dashboard</a></li>
        					 <li class="active">Disease Tabular Report</li>
        				</ul>
        			</div><!-- /breadcrumb-->

              <div class="panel-heading">REPORT DATE FILTERS</div>
              <div class="panel-body" align="left">
                  <form class="form-inline" method="post" action="{% url 'veoc:filter_disease_report' %}">
                    {% csrf_token %}
                      <div class="form-group">
                          <label for="date_from"><b>Date From :&nbsp; &nbsp; </b></label>
                          <input class="form-control" type="date" id="date_from" name="date_from"
                                 value="{{ day_from }}" required>
                      </div>
                      &nbsp; &nbsp;
                      <div class="form-group">
                          <label for="date_to"><b>Date To :&nbsp; &nbsp; </b></label>
                          <input class="form-control" type="date" id="date_to" name="date_to"
                                 value="{{ day_to }}" required>
                      </div>
                      &nbsp; &nbsp;

                      <button type="submit" class="btn btn-primary" align="right">Search</button>
                  </form>

                  <!-- <div class="form-group">
                      <input type="submit" value="Show All Records" class=" btn btn-secondary" a href="{% url 'veoc:disease_report' %}">
                  </div> -->

              </div>

        			<div class="padding-md">
        				<div class="row">
        					<div class="col-md-12">
        						<div class="panel panel-default table-responsive">
        							<div class="panel-heading">
        								Disease Tabular Report
        								<span class="label label-info pull-right" id="totalspan">{{reported_diseases_count}} Reported cases </span>
        							</div>
        							<div class="padding-md clearfix">
        							<table class="table table-hover" id="disease_report">
        								<thead class="thead-dark">
                          <tr>
                            <th>Date</th>
                            <th>Reported Disease</th>
                            <th>Status</th>
                            <th>Cases</th>
                            <th>Deaths</th>
                            <th>Data Source</th>
                            <th>Region</th>
                            <th>County</th>
                            <th>Subcounty</th>
                            <th>Ward</th>
                            <th>Officer</th>
                            <!-- <th>Remarks</th> -->
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for disease in disease_vals %}
                            {% if disease.incident_status_id == 2 %}
                                <tr style="background-color: #00FFFF">
                                    {% else %}
                                <tr>
                            {% endif %}
                        <td>{{ disease.date_reported }}</td>
                        <td>{{ disease.disease_type.name }}</td>
                        <td>{{ disease.incident_status.status_description }}</td>
                        <td>{{ disease.cases }}</td>
                        <td>{{ disease.deaths }}</td>
                        <td>{{ disease.data_source.source_description }}</td>
                        <td>{{ disease.reporting_region.region_description }}</td>
                        {% if disease.reporting_region.region_description == 'Kenya' %}
                          <td>{{ disease.county.name }}</td>
                          <td>{{ disease.subcounty.name }}</td>
                          <td>{{ disease.ward.name }}</td>
                        {% else %}
                            <td>N/A</td>
                            <td>N/A</td>
                            <td>N/A</td>
                        {% endif %}
                        <td>{{ disease.created_by.username }}</td>
                        <!-- <td>{{ disease.remarks }}</td> -->
                        <td>
                            <button type="button" class="btn btn-primary btn-xs view_button"
                              data-toggle="modal" data-target="#view_disease_modal"
                              data-id="{{ disease.pk }}"
                              data-date="{{ disease.date_reported }}"
                              data-disease="{{ disease.disease_type.name }}"
                              data-status="{{ disease.incident_status.status_description }}"
                              data-cases="{{ disease.cases }}"
                              data-deaths="{{ disease.deaths }}"
                              data-source="{{ disease.data_source.source_description }}"
                              data-region="{{ disease.reporting_region.region_description }}"
                              data-county="{{ disease.county.name }}"
                              data-subcounty="{{ disease.subcounty.name }}"
                              data-ward="{{ disease.ward.name }}"
                              data-remarks="{{ disease.remarks }}"
                              data-action="{{ disease.action_taken }}"
                              data-reporter="{{ disease.created_by.username }}"
                              title="View">
                              <i class="fa fa-eye">
                              </i>
                          </button>
                          <button type="button" class="btn btn-primary btn-xs edit_button"
                            data-toggle="modal" data-target="#edit_disease_modal"
                            data-id="{{ disease.pk }}"
                            data-date="{{ disease.date_reported }}"
                            data-disease="{{ disease.disease_type.name }}"
                            data-status="{{ disease.incident_status.status_description }}"
                            data-cases="{{ disease.cases }}"
                            data-deaths="{{ disease.deaths }}"
                            data-source="{{ disease.data_source.source_description }}"
                            data-region="{{ disease.reporting_region.region_description }}"
                            data-county="{{ disease.county.name }}"
                            data-subcounty="{{ disease.subcounty.name }}"
                            data-ward="{{ disease.ward.name }}"
                            data-remarks="{{ disease.remarks }}"
                            data-action="{{ disease.action_taken }}"
                            data-reporter="{{ disease.created_by.username }}"
                            title="Edit">
                            <i class="fa fa-edit">
                            </i>
                          </button>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
    							</table>
                </div>
              </div>
    				</div>
    			</div><!-- /row-->
        </div><!-- /.padding-md -->
      </div><!-- /main-container -->

      <!-- View Disease modal -->
      <div class="modal fade" id="view_disease_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Disease Report Incident View</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form method="post" action="#">
                <div class="modal-body">
                    <div class="form-group" style="display: none;">
                        <input class="form-control id" name="id" style="display: none;">
                    </div>
                    <div class="form-group">
                        <label for="heading">Date Reported</label>
                        <input class="form-control date_reported" name="date_reported" readonly>
                    </div>
                    <div class="form-group">
                        <label for="heading">Reported Disease :</label>
                        <input class="form-control reported_disease" name="reported_disease" readonly>
                    </div>
                    <div class="form-group">
                        <label for="heading">Reported Status :</label>
                        <input class="form-control status_name" name="status_name" readonly>
                    </div>
                    <div class="form-group">
                        <label for="heading">Reported Cases :</label>
                        <input class="form-control data_cases" name="data_cases" readonly>
                    </div>
                    <div class="form-group">
                        <label for="heading">Reported Deaths :</label>
                        <input class="form-control data_deaths" name="data_deaths" readonly>
                    </div>
                    <div class="form-group">
                        <label for="heading">Data Source</label>
                        <input class="form-control data_source" name="data_source" readonly>
                    </div>
                    <div class="form-group">
                        <label for="heading">Region</label>
                        <input class="form-control region" name="region" readonly>
                    </div>
                    <div class="form-group">
                        <label for="heading">County :</label>
                        <input class="form-control county_name" name="county_name" readonly>
                    </div>
                    <div class="form-group">
                        <label for="heading">SubCounty :</label>
                        <input class="form-control subcounty_name" name="subcounty_name" readonly>
                    </div>
                    <div class="form-group">
                        <label for="heading">Ward :</label>
                        <input class="form-control ward_name" name="ward_name" readonly>
                    </div>
                    <div class="form-group">
                        <label for="heading">Remarks :</label>
                        <input class="form-control remarks" name="remarks" readonly>
                    </div>
                    <div class="form-group">
                        <label for="heading">Action Taken :</label>
                        <input class="form-control action" name="action" readonly>
                    </div>
                    <div class="form-group">
                        <label for="heading">Reported By :</label>
                        <input class="form-control reporter_name" name="reporter_name" readonly>
                    </div>
                </div>
            </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Edit Disease modal -->
      <div class="modal fade" id="edit_disease_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Disease Report Incident Edit</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form method="post" action="{% url 'veoc:disease_report' %}">
                {% csrf_token %}
                  <div class="modal-body">
                    <div class="form-group" style="display: none;">
                        <input class="form-control id" name="id" style="display: none;">
                    </div>
                    <div class="form-group">
                        <label for="heading">Date Reported</label>
                        <input class="form-control date_reported" name="date_reported" readonly>
                    </div>
                    <div class="form-group">
                        <label for="heading">Reported Disease :</label>
                        <input class="form-control reported_disease" name="reported_disease" readonly>
                    </div>
                    <div class="form-group">
                        <label for="heading">Reported Status :</label>
                        <select name="status_name" class="form-control status_name">
                          <!-- <option value="status_name" disabled selected></option> -->
                          {% for status_description in status_descriptions %}
                              <option value="{{ status_description.id }}">{{ status_description.status_description }}</option>
                          {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="heading">Reported Cases :</label>
                        <input class="form-control data_cases" name="data_cases" readonly>
                    </div>
                    <div class="form-group">
                        <label for="heading">Reported Deaths :</label>
                        <input class="form-control data_deaths" name="data_deaths" readonly>
                    </div>
                    <div class="form-group">
                        <label for="heading">Data Source</label>
                        <input class="form-control data_source" name="data_source" readonly>
                    </div>
                    <div class="form-group">
                        <label for="heading">Region</label>
                        <input class="form-control region" name="region" readonly>
                    </div>
                    <div class="form-group">
                        <label for="heading">County :</label>
                        <input class="form-control county_name" name="county_name" readonly>
                    </div>
                    <div class="form-group">
                        <label for="heading">SubCounty :</label>
                        <input class="form-control subcounty_name" name="subcounty_name" readonly>
                    </div>
                    <div class="form-group">
                        <label for="heading">Ward :</label>
                        <input class="form-control ward_name" name="ward_name" readonly>
                    </div>
                    <div class="form-group">
                        <label for="heading">Remarks :</label>
                        <input class="form-control remarks" name="remarks" >
                    </div>
                    <div class="form-group">
                        <label for="heading">Action Taken :</label>
                        <input class="form-control action" name="action" >
                    </div>
                    <div class="form-group">
                        <label for="heading">Reported By :</label>
                        <input class="form-control reporter_name" name="reporter_name" readonly>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Update" class=" btn btn-primary">
                    </div>
                  </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

{% endblock %}

{% block script %}

  <script>
    $(document).ready(function () {
          $('#disease_report').DataTable({
              "order": [],
              dom: 'Bfrtip',
              buttons: [
                  'copy', 'csv', 'excel', 'pdf', 'print'
              ]
          });

          // Setup - add a text input to each footer cell
          $('#disease_report thead td').each(function () {
              var title = $(this).text();
              $(this).html('<input type="text" placeholder="Search ' + title + '" />');
          });

          // DataTable
          var table = $('#disease_report').DataTable();

          // Apply the search
          table.columns().every(function () {
              var that = this;

              $('input', this.header()).on('keyup change', function () {
                  if (that.search() !== this.value) {
                      that
                              .search(this.value)
                              .draw();
                  }
              });
          });
      });

    $(document).on( "click", '.view_button',function(e) {
        var id = $(this).data('id');
        var date = $(this).data('date');
        var disease = $(this).data('disease');
        var status = $(this).data('status');
        var cases = $(this).data('cases');
        var deaths = $(this).data('deaths');
        var source = $(this).data('source');
        var region = $(this).data('region');
        var county = $(this).data('county');
        var subcounty = $(this).data('subcounty');
        var ward = $(this).data('ward');
        var remarks = $(this).data('remarks');
        var action = $(this).data('action');
        var reporter = $(this).data('reporter');

        console.log(id);

        $(".id").val(id);
        $(".date_reported").val(date);
        $(".reported_disease").val(disease);
        $(".status_name").val(status);
        $(".data_cases").val(cases);
        $(".data_deaths").val(deaths);
        $(".data_source").val(source);
        $(".region").val(region);
        $(".county_name").val(county);
        $(".subcounty_name").val(subcounty);
        $(".ward_name").val(ward);
        $(".remarks").val(remarks);
        $(".action").val(action);
        $(".reporter_name").val(reporter);
    });

    $(document).on( "click", '.edit_button',function(e) {
      var id = $(this).data('id');
      var date = $(this).data('date');
      var disease = $(this).data('disease');
      var status = $(this).data('status');
      var cases = $(this).data('cases');
      var deaths = $(this).data('deaths');
      var source = $(this).data('source');
      var region = $(this).data('region');
      var county = $(this).data('county');
      var subcounty = $(this).data('subcounty');
      var ward = $(this).data('ward');
      var remarks = $(this).data('remarks');
      var action = $(this).data('action');
      var reporter = $(this).data('reporter');

      console.log(id);

      $(".id").val(id);
      $(".date_reported").val(date);
      $(".reported_disease").val(disease);
      $(".status_name").val(status);
      $(".data_cases").val(cases);
      $(".data_deaths").val(deaths);
      $(".data_source").val(source);
      $(".region").val(region);
      $(".county_name").val(county);
      $(".subcounty_name").val(subcounty);
      $(".ward_name").val(ward);
      $(".remarks").val(remarks);
      $(".action").val(action);
      $(".reporter_name").val(reporter);
  });

  </script>
{% endblock %}
