{% extends "veoc/main_template.html" %}

{% block main %}

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color:#3c8dbc">
                <h2 class="panel-title">EOC watchers schedule</h2>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-hover" id="eoc_table">
                    <thead style="background-color: #ffffff">
                    <tr>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Designation</th>
                        <th>Mobile number</th>
                        <th>Email address</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for eoc in eocContacts %}
                        <tr>
                            <td>{{ eoc.first_name }}</td>
                            <td>{{ eoc.second_name }}</td>
                            <td>{{ eoc.designation.description }}</td>
                            <td>{{ eoc.mobile }}</td>
                            <td>{{ eoc.email }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
