{% extends "veoc/main_template.html" %}

{% block main %}

  <div id="main-container">
    <div id="breadcrumb">
      <ul class="breadcrumb">
         <li><i class="fa fa-home"></i><a href="{% url 'veoc:access_dashboard' %}"> Dashboard</a></li>
         <li class="active">Report Template</li>
      </ul>
    </div><!-- /breadcrumb-->

    <div class="padding-md">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">SELECT DATE TO FILTER REPORT</div>
            <div class="panel-body" align="center">
                <form class="form-inline" method="post" action="">{% csrf_token %}
                    <div class="form-group">
                        <label for="date_reported"><b>Select date to filter :&nbsp; &nbsp; </b></label>
                        <input class="form-control" type="date" id="date_reported" name="date_reported"
                               value="{{ day }}" required>
                    </div>
                    &nbsp; &nbsp;

                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
              </div>
          </div><!-- /div panel-default -->

          <div class="panel panel-default">
              <div class="panel-heading">SELECTED DATE REPORT</div>
              <div class="panel-body" id="daily_report" style="background-color:white">
                <!-- <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMcAAAA8AQAAAAD6K5OxAAAAWElEQVR4nGP6jwP8Y2LABags86umZIVb16Yp7m6XrCqUn+admSekfDzw1TEHurlgVGZUZlRmVGbwyLC19ETsKvPL2blL71jHXelJJknv7lquF7M6QC8XAACY0jJfF8ukTQAAAABJRU5ErkJggg==" width="400" height="300"> -->
              <div class="top">
                    <td colspan="2">
                        <div>
                            <div>
                                <p class="title" style="color:#1034A6; text-align: center">

                                  <img src="/static/images/emblem.png" style="width:40%; max-width:100px;">
                                  <br>REPUBLIC OF KENYA <br>
                              <h3 style="text-align: center">EOC DAILY REPORT</h3>
                                </p>

                            </div>
                        </div>
                    </td>
                </div>
                  <br>
                  <P>
                  <h4 align="left"><b><i>Report Date: {{ date_filter|date:'d-m-Y' }}</i></b></h4>
                  <br>
                  <P>
                  <h4 align="left"><b><i>Saction A: Significant Incidents</i></b></h4>
                  <P>
                  <ul class="list-group">
                      {% if significant_events_none == "None" %}
                          <li class="list-group-item">{{ 'None' }}</li>
                      {% else %}
                          <!-- {% for significant_call in significant_calls %}
                              <li class="list-group-item">
                                {{ significant_call.reporting_region.region_description }}:{{ significant_call.cases }}
                              {{ significant_call.dhis_event_type.name }} cases and {{ significant_event.deaths }}
                              deaths,
                              {{ significant_event.remarks }}
                              <a href="/event_reports_edit/{{ significant_event.id }}"> EDIT</a><br>
                            </li>
                          {% endfor %} -->
                          {% for significant_event in significant_events %}
                              <li class="list-group-item">
                                {% if significant_event.reporting_region.region_description == "Kenya" %}
                                    Reporting Region :{{ significant_event.reporting_region.region_description }}, Reporting County: {{ significant_disease.county.name }},
                                    ward :{{ significant_event.ward.name }}, Reported event : {{ significant_event.event_type.name }}, {{ significant_event.cases }}
                                    cases reported and {{ significant_event.deaths }} deaths, Remarks :{{ significant_event.remarks }}
                                {% else %}
                                    Reporting Region :{{ significant_event.reporting_region.region_description }}, Reported event :
                                    {{ significant_event.event_type.name }}, {{ significant_event.cases }} cases reported and
                                    {{ significant_event.deaths }} deaths, Remarks :{{ significant_event.remarks }}
                                {% endif %}
                              <a href="/event_reports_edit/{{ significant_event.id }}"> EDIT</a><br>
                            </li>
                          {% endfor %}
                          {% for significant_disease in significant_diseases %}
                            <li class="list-group-item">
                              {% if significant_disease.reporting_region.region_description == "Kenya" %}
                                  Reporting Region :{{ significant_disease.reporting_region.region_description }}, Reporting County: {{ significant_disease.county.name }}, ward :{{ significant_disease.ward.name }}:
                                  Reported event :{{ significant_disease.disease_type.name }},{{ significant_disease.cases }}
                                  cases reported and {{ significant_disease.deaths }} deaths, Remarks : {{ significant_disease.remarks }}
                              {% else %}
                                  Reporting Region :{{ significant_disease.reporting_region.region_description }}:{{ significant_disease.disease_type.name }},
                                  {{ significant_disease.cases }} {{ significant_disease.disease_type.name }} cases and
                                  {{ significant_disease.deaths }} deaths, Remarks :{{ significant_disease.remarks }}
                              {% endif %}
                              <a href="/disease_reports_edit/{{ significant_disease.id }}"> EDIT</a><br>
                            </li>
                          {% endfor %}
                      {% endif %}
                  </ul>
                   <p>
                  <h4 align="left"><b><i>Section B: EOC Status</i></b></h4>
                  <P>
                      <ul type="disc">
                        <li>Activated for Monitoring</li>
                      </ul>
                  <P>
                  <h4 align="left"><b><i>Section C: EOC Field Deployments</i></b></h4>
                  <P>
                    <ul type="circle">
                      <li>None</li>
                    </ul>
                  <p>
                  <h4 align="left"><b><i>Section D: Reported Incidents</i></b></h4>
                  <p>
                  <ol>
                    <li><i>Below are all reported incidents in the last 24hours. The Incidents are categorized in the different regions the EOC is monitoring.</i></li>
                    <P>
                    <div class="table-responsive">
                         <table class="table table-bordered table-hover">
                          <tr>
                            <td><b>Reporting Region</b></td>
                            <td><b>Incident</b></td>
                            <td><b>Remarks</b></td>
                            <td><b>Confirmation Status</b></td>
                            <td><b>Incident Status</b></td>
                          </tr>
                          <!-- Check if kenya_diseases has data -->
                          {% if kenya_disease|length > 0 %}
                            {% for k_disease in kenya_disease %}
                            <tr>
                                <td>Kenya</td>
                                <td>{{ k_disease.disease_type.name }}, {{ k_disease.reporting_region.region_description }}</td>
                                <td>{{ k_disease.remarks }}</td>
                                <td>{{ k_disease.incident_status.status_description }}</td>
                                <td>
                                  {% if k_disease.case_status == "True" %}
                                    Closed Case
                                  {% else %}
                                    Ongoing case
                                  {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                          {% endif %}
                          {% if ea_disease|length > 0 %}
                              {% for e_disease in ea_disease %}
                                  <tr>
                                      <td>East Africa</td>
                                      <td>{{ e_disease.disease_type.name }}, {{ e_disease.reporting_region.region_description }}</td>
                                      <td>{{ e_disease.remarks }}</td>
                                      <td>{{ e_disease.incident_status.status_description }}</td>
                                      <td>
                                        {% if e_disease.case_status == "True" %}
                                          Closed Case
                                        {% else %}
                                          Ongoing case
                                        {% endif %}
                                      </td>
                                    </tr>
                              {% endfor %}
                          {% endif %}
                          {% if africa_disease|length > 0 %}
                              {% for a_disease in africa_disease %}
                                  <tr>
                                      <td>Africa</td>
                                      <td>{{ a_disease.disease_type.name }}, {{ a_disease.reporting_region.region_description }}</td>
                                      <td>{{ a_disease.remarks }}</td>
                                      <td>{{ a_disease.incident_status.status_description }}</td>
                                      <td>
                                        {% if a_disease.case_status == "True" %}
                                          Closed Case
                                        {% else %}
                                          Ongoing case
                                        {% endif %}
                                      </td>
                                  </tr>
                              {% endfor %}
                          {% endif %}
                             <!-- Check if africa_disease has data -->
                          {% if global_disease|length > 0 %}
                              {% for g_disease in global_disease %}
                                  <tr>
                                      <td>Global</td>
                                      <td>{{ g_disease.disease_type.name }}, {{ g_disease.reporting_region.region_description }}</td>
                                      <td>{{ g_disease.remarks }}</td>
                                      <td>{{ g_disease.incident_status.status_description }}</td>
                                      <td>
                                        {% if g_disease.case_status == "True" %}
                                          Closed Case
                                        {% else %}
                                          Ongoing case
                                        {% endif %}
                                      </td>
                                  </tr>
                              {% endfor %}
                         {% endif %}
                          {% if global_disease|length == 0 and africa_disease|length == 0 and kenya_disease|length == 0 and kenya_disease|length == 0%}
                            <td>None</td>
                            <td>None reported</td>
                            <td>Nill</td>
                            <td>Nill</td>
                            <td>Nill</td>
                          {% endif %}
                        </table>
                    </div>
                  </ol>

                  <h4 align="left"><b><i>Section D: DHIS2 Data from EOC</b></i></h4>
                  <p>
                  <div class="table-responsive">
                      <table class="table table-striped table-hover">
                        <tr>
                          <td><b>Incident/ Disease</b></td>
                          <td><b>Source of Data</b></td>
                        </tr>
                        <!-- Check if africa_disease has data -->
                        {% if dhis_diseases|length > 0 %}
                        {% for dhis_disease in dhis_diseases %}
                        <tr>
                            <td>{{ dhis_disease.disease_type.name }}, {{ dhis_disease.org_unit_id.name }}</td>
                            <td>{{ dhis_disease.stored_by }}</td>
                        </tr>
                        {% endfor %}
                        {% else %}
                          <td>None reported</td>
                          <td>Nill</td>
                        {% endif %}
                      </table>
                  </div>


                  <h4 align="left"><b><i>Section E. Resource Status</i></b></h4>
                  <p>
                    <ul type="circle">
                      <li>None</li>
                    </ul>
                  <p>
                  <h4 align="left"><b><i>Section F: EOC 24 Hour Call Data</i></b></h4>
                  <p>
                  <ol type="i">
                    <li><i>Call inquiries made via EOC Safaricom and Airtel lines</i></li>
                    <p>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th>Call made via Safaricom and Airtel lines</th>
                                <th>Total Count</th>
                            </tr>
                            {% for key, value in call_log_count_stat.items %}
                                {% if value == 0 %}

                                {% else %}
                                    <tr>
                                        <td>{{ key }}</td>
                                        <td>{{ value }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            <tr>
                                <td><b>Total calls received</b></td>
                                <td><b>{{ call_log_sum }}</b></td>
                            </tr>
                        </table>
                    </div>
                    <li><i>Call received status breakdown</i></li>
                    <p>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th>Call made via Safaricom and Airtel lines</th>
                                <th>Total Count</th>
                            </tr>
                            <tr>
                                <td>Total confirmed cases</td>
                                <td>{{ daily_conf_call_log_count }}</td>
                            </tr>
                            <tr>
                                <td>Total rumor cases</td>
                                <td>{{ daily_rum__call_log_count }}</td>
                            </tr>
                            <tr>
                                <td>Total enquiry/unrelated calls</td>
                                <td>{{ daily_enquiry }}</td>
                            </tr>
                            <tr>
                                <td><b>Total calls received</b></td>
                                <td><b>{{ daily_total_calls }}</b></td>
                            </tr>
                        </table>
                    </div>
                  </ol>
                  <h4 align="left"><b><i>Section G: Report Compiled By;<b></i></h4>
                  <p>
                  <ol type="a">
                      {% for watcher in watchers %}

                          <li>{{ watcher.fname }}</li><br>

                      {% endfor %}
                  </ol>
                  <p>
              <br>
              </div><!-- panel-body -->
          </div><!-- /div panel-default -->

          <div class="panel panel-default">
            <div class="panel-heading">DOWNLOAD FILTERED REPORT</div>
            <div class="panel-body" align="center">
                <div>
                <hr>
                    <div class="col-sm-6">
                        <button class="btn btn-primary btn-lg btn-block" type="button" onclick="saveDiv()"><i class="glyphicon glyphicon-save"></i>Download PDF</button>
                    </div>
                    <div class="col-sm-6">
                        <button class="btn btn-primary btn-lg btn-block" onclick="javascript:PrintElem();" type="submit" id="btnAttPrint"><i class="glyphicon glyphicon-print"></i> Print Report</button>
                    </div>
                </div>
            </div>
          </div><!-- /div panel-default -->
        </div>
      </div>
    </div>
  </div><!-- /main-container -->


{% endblock %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js" integrity="sha256-c3RzsUWg+y2XljunEQS0LqWdQ04X1D3j22fd/8JCAKw=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.1.4/jspdf.plugin.autotable.min.js" integrity="sha256-eIKcNIGWAPR5OALomhWC6wYAPiRZeuXoFM8P7hk8Mx8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.1.4/jspdf.plugin.autotable.js" integrity="sha256-tTIwg5mtxIyCrUsrwXWynz9S/Pl6Kfz3yr/wo6nANJ0=" crossorigin="anonymous"></script>

    <script>

    $(document).ready(function(){
        console.log({{ kenya_disease|length }});
        console.log({{ ea_disease|length }});
        console.log({{ africa_disease|length }});
        console.log({{ global_disease|length }});
    })
        //Generate PDF
        function saveDiv() {
          var options = {};
          var pdf = new jsPDF('p', 'pt', 'a4');
          pdf.addHTML($("#daily_report"), 15, 15, options, function() {
            pdf.save('eoc_daily_report.pdf');
          });
        };

        function PrintElem() {
        var prtContent = document.getElementById("daily_report");
        var mywindow = window.open('', '', 'left=0,top=0,width=800,height=900,toolbar=0,scrollbars=0,status=0');
        mywindow.document.write(prtContent.innerHTML);

        mywindow.document.close(); // necessary for IE >= 10
        mywindow.setTimeout(function(){
          mywindow.focus();
          mywindow.print();
          mywindow.close();
        }, 1000);

        return true;
    }


  </script>

{% endblock %}
