{% block content %}

    <script type="text/javascript" src="/static/js/jquery-1.10.2.min.js"></script>

    <header>
        <ul class="nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" href="#logs">Call Logs</a>
            </li>
            <li class="">
                <a data-toggle="tab" href="#disease">Reported Diseases</a>
            </li>
            <li class="">
                <a data-toggle="tab" href="#events">Alerts and Events</a>
            </li>
        </ul>
    </header>
    <div class="body tab-content">
        <div class="tab-pane clearfix active well" id="logs">
            <h4 class="tab-header"><i class="fa fa-calendar-o fa-2x"></i> Resents Call Logs Reported</h4>
            {% include 'overview/includes/call_log_report.html' %}
        </div>
        <div class="tab-pane well" id="disease">
            <h4 class="tab-header"><i class="fa fa-calendar-o fa-2x"></i> Resent Diseases Reported</h4>
            {% include 'overview/includes/limited_Disease_report.html' %}
        </div>
        <div class="tab-pane well" id="events">
            <h4 class="tab-header"><i class="fa fa-calendar-o fa-2x"></i> Resent Alerts & Events Reported</h4>
            {% include 'overview/includes/lim_alerts.html' %}
        </div>
    </div>

{% endblock %}