{% extends "veoc/main_template.html" %}

{% block main %}

    <script type="text/javascript"
        src="https://cdn.datatables.net/v/dt/jqc-1.12.3/jszip-2.5.0/pdfmake-0.1.18/dt-1.10.12/b-1.2.2/b-flash-1.2.2/b-html5-1.2.2/b-print-1.2.2/datatables.min.js"></script>

            <div id="main-container">
        			<div id="breadcrumb">
        				<ul class="breadcrumb">
        					 <li><i class="fa fa-home"></i><a href="{% url 'veoc:dashboard' %}"> Dashboard</a></li>
        					 <li class="active">Quarantine Sites</li>
        				</ul>
        			</div><!-- /breadcrumb-->

        			<div class="padding-md">
                <div class="row">
        					<div class="col-sm-12 col-md-12">
        						<div class="col-md-12" style="padding-bottom:10px">
        							<button type="button" id="modalbtn" class="btn btn-info btn-sm pull-left" data-toggle="modal" data-target="#addQuarantineModal"> <i class="fa fa-plus" aria-hidden="true"></i> Add Quarantine Site</button>
        						</div>

        					</div><!-- /.col -->
        				</div>
        				<div class="row">
        					<div class="col-md-12">
        						<div class="panel panel-default table-responsive">
        							<div class="panel-heading">
        								Quarantine Sites
        								<span class="label label-info pull-right" id="totalspan">{{sites_count}} Quarantine Sites</span>
        							</div>
        							<div class="padding-md clearfix">
        							<table class="table table-hover" id="site_table">
        								<thead class="thead-dark">
                                          <tr>
                                              <th>Site Name</th>
                                              <th>Team Lead Names</th>
                                              <th>Team Lead Contacts</th>
                                              <th>Active Site</th>
                                              <th>Created By</th>
                                              <th>Action</th>
                                          </tr>
                                          </thead>
                                          <tbody>
                                            {% for site in site_vals %}
                                            <tr>
                                            <td>{{ site.site_name }}</td>
                                            <td>{{ site.team_lead_names }}</td>
                                            <td>{{ site.team_lead_phone }}</td>
                                            <td>{{ site.active }}</td>
                                            <td>{{ site.created_by.username }}</td>
                                            <td>
                                                <button type="button" class="btn btn-primary btn-xs view_button"
                                                  data-toggle="modal" data-target="#view_site_modal"
                                                  data-id="{{ site.pk }}"
                                                  data-site-name="{{ site.site_name }}"
                                                  data-lead-name="{{ site.team_lead_names }}"
                                                  data-lead-phone="{{ site.team_lead_phone }}"
                                                  data-active="{{ site.active }}"
                                                  title="View">
                                                  <i class="fa fa-eye">
                                                  </i>
                                              </button>
                                              <button type="button" class="btn btn-primary btn-xs edit_button"
                                                data-toggle="modal" data-target="#edit_site_modal"
                                                data-id="{{ site.pk }}"
                                                data-site-name="{{ site.site_name }}"
                                                data-lead-name="{{ site.team_lead_names }}"
                                                data-lead-phone="{{ site.team_lead_phone }}"
                                                data-active="{{ site.active }}"
                                                title="Edit">
                                                <i class="fa fa-edit">
                                                </i>
                                              </button>
                                            </td>
                                          </tr>
                                          {% endfor %}
                                      </tbody>
    							    </table>
                                </div>
                            </div>
    				    </div>
                    </div>
    			</div><!-- /row-->
            </div><!-- /.padding-md -->
        </div><!-- /main-container -->

      <!-- Add Quarantine modal -->
		   <div class="modal fade" id="addQuarantineModal" tabindex="-1" role="dialog" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLongTitle">Add Quarantine Site</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<form class="quarantine_register_form" method="POST" action="{% url 'veoc:site_list' %}" >
								{% csrf_token %}
                <div class="form-group">
									<label>Site Name :</label>
								  <input type="text" class="form-control input-sm"  name="site_name" id="site_name" required>
								</div>
                <div class="form-group">
									<label>Team Lead Names :</label>
								  <input type="text" class="form-control input-sm" name="lead_names" id="lead_names" >
								</div>
                <div class="form-group">
									<label>Team Leam Phone Number :</label>
								  <input type="number" class="form-control input-sm" name="lead_number" id="lead_number">
								</div>

								<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
								<button type="submit" id="addsitebtn" class="btn btn-success btn-sm pull-right"> <i class="fa fa-plus" aria-hidden="true"></i> Add Quarantine Site</button>
							</form>
						</div>
						</div>
					</div>
        </div>

      <!-- View Quarantine modal -->
      <div class="modal fade" id="view_site_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Quarantine Sites View</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form method="post" action="#">
                <div class="modal-body">
                    <div class="form-group">
    									<label>Site Name :</label>
    								  <input type="text" class="form-control view_site_name"  name="site_name" readonly>
    								</div>
                    <div class="form-group">
    									<label>Team Lead Names :</label>
    								  <input type="text" class="form-control view_lead_names" name="lead_names" readonly >
    								</div>
                    <div class="form-group">
    									<label>Team Leam Phone Number :</label>
    								  <input type="number" class="form-control view_lead_number" name="lead_number" readonly>
    								</div>
                    <div class="form-group">
    									<label>Active Status :</label>
    								  <input type="text" class="form-control view_active" name="active" readonly>
    								</div>
                </div>
            </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Edit Quarantine modal -->
      <div class="modal fade" id="edit_site_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Quarantine Site Edit</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form method="post" action="{% url 'veoc:edit_site_list' %}">
                {% csrf_token %}
                  <div class="modal-body">
                    <div class="form-group" style="display: none;">
                        <input class="form-control edit_id" name="id" style="display: none;">
                    </div>
                      <div class="form-group">
      									<label>Site Name :</label>
      								  <input type="text" class="form-control edit_site_name"  name="site_name" >
      								</div>
                      <div class="form-group">
      									<label>Team Lead Names :</label>
      								  <input type="text" class="form-control edit_lead_names" name="lead_names" >
      								</div>
                      <div class="form-group">
      									<label>Team Leam Phone Number :</label>
      								  <input type="number" class="form-control edit_lead_number" name="lead_number">
      								</div>
                      <div class="form-group">
      									<label>Active Status :</label>
                        <select class="form-control input-sm active" data-width="100%" id="active" name="active" >
                        <option value="" disabled selected>Select Status</option>
                            <option value="True">Active</option>
                            <option value="False">Inactive</option>
      							   </select>
      								</div>
                    </div>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="submit" id="addeditsitebtn" class="btn btn-success btn-sm pull-right">Save Changes</button>
                </form>
            </div>
          </div>
        </div>
      </div>

{% endblock %}

{% block script %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
  <script>
    $(document).ready(function () {
        $('#site_table').DataTable({
            "order": [],
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });

        // Setup - add a text input to each footer cell
        $('#site_table thead td').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" placeholder="Search ' + title + '" />');
        });

        // DataTable
        var table = $('#site_table').DataTable();

        // Apply the search
        table.columns().every(function () {
            var that = this;

            $('input', this.header()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                            .search(this.value)
                            .draw();
                }
            });
        });
    });

    $(document).on( "click", '.view_button',function(e) {
      var id = $(this).data('id');
      var s_name = $(this).data('site-name');
      var lead_name = $(this).data('lead-name');
      var lead_num = $(this).data('lead-phone');
      var act = $(this).data('active');

      console.log(s_name);

      $(".view_site_name").val(s_name);
      $(".view_lead_names").val(lead_name);
      $(".view_lead_number").val(lead_num);
      $(".view_active").val(act);
  });

    $(document).on( "click", '.edit_button',function(e) {
      var id = $(this).data('id');
      var s_name = $(this).data('site-name');
      var lead_name = $(this).data('lead-name');
      var lead_num = $(this).data('lead-phone');

      console.log(s_name);

      $(".edit_id").val(id);
      $(".edit_site_name").val(s_name);
      $(".edit_lead_names").val(lead_name);
      $(".edit_lead_number").val(lead_num);
  });

  var quarantineForm = $(".quarantine_register_form")

  quarantineForm.submit(function(e){
    e.preventDefault();
    console.log("inside quarantineForm");
    var thisForm = $(this);
    var endPoint = thisForm.attr("action") || window.location.href;
    var method = thisForm.attr("method");
    var formData = thisForm.serialize();

    Swal.fire({
      title: "Please wait!, Saving Details!",
      imageUrl: "/static/images/ajax-loader.gif",
      showConfirmButton: false,
      allowOutsideClick: false
    });
    $.ajax({
      type:method,
      url:endPoint,
      data: formData,
      success:function(){
        Swal.fire({
          title: 'Success!',
          text: 'Quarantine Site Saved',
          icon: 'success'
        });
        quarantineForm[0].reset();
      },
      error:function(er){
        console.log("Site saving error");
        console.log(er.responseText);
        Swal.fire({
          title: 'Error!',
          text: 'Quarantine Details Cannot be Saved',
          icon: 'error'
        });
      }
    });

  });


  </script>
{% endblock %}
