{% extends "veoc/main_template.html" %}

{% block main %}
    <!-- <script type="text/javascript" src="/static/jsPDF-1.3.2/jspdf.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
    <script type="text/javascript"
        src="https://cdn.datatables.net/v/dt/jqc-1.12.3/jszip-2.5.0/pdfmake-0.1.18/dt-1.10.12/b-1.2.2/b-flash-1.2.2/b-html5-1.2.2/b-print-1.2.2/datatables.min.js"></script>

            <div id="main-container">
        			<div id="breadcrumb">
        				<ul class="breadcrumb">
        					 <li><i class="fa fa-home"></i><a href="{% url 'veoc:access_dashboard' %}"> Dashboard</a></li>
        					 <li class="active">Immediate reportable Diseases</li>
        				</ul>
        			</div><!-- /breadcrumb-->

              <div class="panel-heading">DHIS DISEASE DATA FILTERS</div>
              <div class="panel-body" align="left">
                  <form class="form-inline" method="post" action="">{% csrf_token %}
                      <div class="form-group">
                          <label for="idsr_disease"><b>Filter by IDSR Disease :&nbsp; &nbsp; </b></label>
                          <select class="form-control" id="idsr_disease" name="idsr_disease">
                             <option value="" disabled selected>Select Disease</option>
                             {% for drop_down_disease in drop_down_diseases %}
                                 <option value="{{ drop_down_disease.id }}">{{ drop_down_disease.disease_type.name }}</option>
                             {% endfor %}
                         </select>
                      </div>
                      &nbsp; &nbsp;
                      <div class="form-group">
                          <label for="period"><b>FIlter by Period :&nbsp; &nbsp; </b></label>
                          <select class="form-control" id="period" name="period">
                             <option value="" disabled selected>Select Period</option>
                             {% for drop_down_period in drop_down_diseases %}
                                 <option value="{{ drop_down_period.id }}">{{ drop_down_period.period }}</option>
                             {% endfor %}
                         </select>
                      </div>
                      &nbsp; &nbsp;
                      <div class="form-group">
                          <label for="date_reported"><b>Filter by Date Reported :&nbsp; &nbsp; </b></label>
                          <input class="form-control" type="date" id="date_reported" name="date_reported"
                                 value="{{ day }}" required>
                      </div>
                      &nbsp; &nbsp;
                  </form>
                  <button type="submit" class="btn btn-primary" align="right">Update</button>
              </div>

        			<div class="padding-md">
        				<div class="row">
        					<div class="col-md-12">
        						<div class="panel panel-default table-responsive">
        							<div class="panel-heading">
        								Confirmed Diseases Pushed to DHIS 2
        								<span class="label label-info pull-right" id="totalspan">{{dhis_reported_diseases_count}} Confirmed cases </span>
        							</div>
        							<div class="padding-md clearfix" id="disease_part">
        							<table class="table table-hover" id="dhis_disease_report">
                        <!-- <colgroup>
                          <col width="20%"><col width="20%"><col width="20%"><col width="20%"><col width="20%"><col width="20%"><col width="20%">
                        </colgroup> -->
        								<thead class="thead-dark">
                          <tr>
                              <th>Date Reported</th>
                              <th>Reported Disease</th>
                              <th>Data Source</th>
                              <th>Status</th>
                              <th>Org Unit</th>
                              <th>Cases</th>
                              <th>Period</th>
                              <th>Action</th>
                          </tr>
                          </thead>
                          <tbody>
                            <tr>
                          {% for dhis_reported_diseases_report, dhis_case_values in dhis_reported_diseases_reports %}
                              <td>{{ dhis_reported_diseases_report.eventDate }}</td>
                              <td>{{ dhis_reported_diseases_report.disease_type.name }}</td>
                              {% if dhis_reported_diseases_report.stored_by == 'eoc_user' %}
                                <td>EOC System</td>
                                {% else %}
                                <td>DHIS2</td>
                              {% endif %}
                              <td>{{ dhis_reported_diseases_report.status }}</td>
                              <td>{{ dhis_reported_diseases_report.org_unit_id.name }}</td>
                              <td>{{dhis_case_values}}</td>
                              <td>{{ dhis_reported_diseases_report.period }}</td>
                              <td>
                                <!-- <a href="/edit_dhis_disease/{{ dhis_reported_diseases_report.pk }}" class="btn btn-info btn-xs view_button" style="margin-right:3px;" title="View"> -->
                                <!-- <i class="fa fa-eye">
                                </i> -->
                              <!-- </a> -->
                              <button type="button" class="btn btn-primary btn-xs view_button"
                                data-toggle="modal" data-target="#view_disease_modal"
                                data-id="{{ dhis_reported_diseases_report.pk }}>"
                                data-date="{{ dhis_reported_diseases_report.eventDate }}"
                                data-disease="{{ dhis_reported_diseases_report.disease_type.name }}"
                                data-source="{{ dhis_reported_diseases_report.stored_by }}"
                                data-status="{{ dhis_reported_diseases_report.status }}"
                                data-org="{{ dhis_reported_diseases_report.org_unit_id.name }}"
                                data-cases="{{dhis_case_values}}"
                                data-period="{{ dhis_reported_diseases_report.period }}"
                                title="View">
                                <i class="fa fa-eye">
                                </i>
                            </button>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
    							</table>
                </div>
              </div>
    				</div>
    			</div><!-- /row-->
        </div><!-- /.padding-md -->
      </div><!-- /main-container -->

      <!-- View Disease modal -->
      <div class="modal fade" id="view_disease_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Disease Report Incident View</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form method="post" action="#">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="heading">Date Reported</label>
                        <input class="form-control date_reported" name="date_reported" readonly>
                    </div>
                    <div class="form-group">
                        <label for="heading">Reported Disease</label>
                        <input class="form-control reported_disease" name="reported_disease" readonly>
                    </div>
                    <div class="form-group">
                        <label for="heading">Data Source</label>
                        <input class="form-control data_source" name="data_source" readonly>
                    </div>
                    <div class="form-group">
                        <label for="heading">Status</label>
                        <input class="form-control data_status" name="data_status" readonly>
                    </div>
                    <div class="form-group">
                        <label for="heading">Organization Unit</label>
                        <input class="form-control org_unit" name="org_unit" readonly>
                    </div>
                    <div class="form-group">
                        <label for="heading">Cases</label>
                        <input class="form-control data_cases" name="data_cases" readonly>
                    </div>
                    <div class="form-group">
                        <label for="heading">Period</label>
                        <input class="form-control data_period" name="data_period" readonly>
                    </div>
                </div>
            </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

{% endblock %}

{% block script %}

    <script>
      $(document).ready(function () {
          $('#dhis_disease_report').DataTable({
              "order": [],
              dom: 'Bfrtip',
              buttons: [
                  'copy', 'csv', 'excel', 'pdf', 'print'
              ]
          });

          // Setup - add a text input to each footer cell
          $('#dhis_disease_report thead td').each(function () {
              var title = $(this).text();
              $(this).html('<input type="text" placeholder="Search ' + title + '" />');
          });

          // DataTable
          var table = $('#dhis_disease_report').DataTable();

          // Apply the search
          table.columns().every(function () {
              var that = this;

              $('input', this.header()).on('keyup change', function () {
                  if (that.search() !== this.value) {
                      that
                              .search(this.value)
                              .draw();
                  }
              });
          });
      });

      $(document).on( "click", '.view_button',function(e) {
        var id = $(this).data('id');
        var date = $(this).data('date');
        var disease = $(this).data('disease');
        var source = $(this).data('source');
        var status = $(this).data('status');
        var org = $(this).data('org');
        var cases = $(this).data('cases');
        var period = $(this).data('period');

        console.log(disease);

        $(".date_reported").val(date);
        $(".reported_disease").val(disease);
        $(".data_source").val(source);
        $(".data_status").val(status);
        $(".org_unit").val(org);
        $(".data_cases").val(cases);
        $(".data_period").val(period);
    });

    </script>
{% endblock %}
