  {% extends "veoc/main_template.html" %}

  {% block main %}
  <div id="main-container">
    <div id="breadcrumb">
      <ul class="breadcrumb">
         <li><i class="fa fa-home"></i><a href="{% url 'veoc:access_dashboard' %}"> Dashboard</a></li>
         <li class="active">Completed Quarantine Report</li>
      </ul>
    </div><!-- /breadcrumb-->

    <div class="panel-heading"><b>COVID19 Quarantine Complete Follow Up Report</b></div>
    <div class="panel-body" align="left">
        <form class="form-inline" method="post" action="{% url 'veoc:truck_quarantine_list' %}">{% csrf_token %}
            <div class="form-group">
              <label for="date_from">From :</label>
              <input class="form-control" type="date" id="date_from" name="date_from" value="{{ day }}" required>
            </div>
              &nbsp; &nbsp;
            <div class="form-group">
              <label for="date_to">To :</label>
              <input class="form-control" type="date" id="date_to" name="date_to" value="{{ day }}" required>
            </div>
            <button type="submit" class="btn btn-primary" >Update</button>
          </form>
        <!-- <button type="submit" class="btn btn-primary" align="right">Update</button> -->
    </div>
    <div class="padding-md">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default table-responsive">
            <div class="panel-heading">
              Completed Quarantine Report
              <span class="label label-info pull-right" id="totalspan">{{ quarantine_data_count }}4036 cases </span>
            </div>
            <div class="padding-md clearfix">

        <table id="albums" class="display" style="width:100%">
          <thead>
            <tr>
              <th>Last Name</th>
              <th>First Name</th>
              <th>Age</th>
              <th>Gender</th>
              <th>Mobile Number</th>
              <th>Passport/ID Number</th>
              <th>Nationality</th>
              <th>Origin Country</th>
              <th>Border Point</th>
              <th>Enrollement Date</th>
              <th>Registered By</th>
              <th>Map View</th>
              <th>View Profile</th>

            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
  </div>
  </div>

  <!-- Map View modal -->
  <div class="modal fade" id="mapViewModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle"><b>QUARANTINED CASE FOLLOW UP DETAILS</b></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  <div class="padding-md">
                      <div class="row">
                          <div class="col-md-12">
                              <div class="panel panel-default">
                                  <div class="panel-heading"><b>Quarantined Case Details</b></div>
                                  <div class="panel-body" align="center">
                                      <form method="post" action="#">
                                          <div class="form-group" style="display: none;">
                                              <input class="form-control id" name="id" style="display: none;">
                                          </div>
                                          <div class="form-row">
                                              <div class="form-group col-md-4">
                                                  <label for="county">Names :</label>
                                                  <input class="form-control first_name" name="first_name" readonly>
                                              </div>
                                              <div class="form-group col-md-4">
                                                  <label for="county">Mobile No :</label>
                                                  <input class="form-control phone_number" name="phone_number"
                                                         readonly>
                                              </div>
                                              <div class="form-group col-md-4">
                                                  <label for="county">Date last contacted :</label>
                                                  <input class="form-control date_of_contact" name="date_of_contact"
                                                         readonly>
                                              </div>
                                          </div>
                                      </form>
                                      <button type="submit" onClick="openMap()"
                                              class="btn btn-success btn-sm pull-right">View Map
                                      </button>
                                  </div>
                              </div><!-- /div panel-default -->
                              <div class="panel panel-default">
                                  <div class="panel-heading"><b>Patient Self Reporting Locations</b></div>
                                  <div class="panel-body">
                                      <div id="map_div">
                                      </div><!-- div to hold map -->
                                  </div><!-- panel-body -->
                              </div><!-- /div panel-default -->
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>


  </div>
  {% endblock %}

  {% block script %}

      <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
      <script src="https://code.jquery.com/jquery-3.4.1.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script>
     <script src="https://code.jquery.com/ui/jquery-ui-git.js" type="text/javascript"></script>
    <link href="https://code.jquery.com/ui/jquery-ui-git.css" rel="Stylesheet" type="text/css" />

      <script type="text/javascript"
          src="https://cdn.datatables.net/v/dt/jqc-1.12.3/jszip-2.5.0/pdfmake-0.1.18/dt-1.10.12/b-1.2.2/b-flash-1.2.2/b-html5-1.2.2/b-print-1.2.2/datatables.min.js"></script>

  <script>
      $(document).ready(function() {
          var table = $('#albums').DataTable({
            "order": [],
            dom: 'Blfrtip',
            lengthMenu: [
            [ 10, 25, 50, -1 ],
            [ '10 rows', '25 rows', '50 rows', 'Show all' ]
            ],
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ],
              "serverSide": true,
              "ajax": "/api/truck_quarantine_contacts/?format=datatables",
              "columns": [
                  {"data": "patient_contacts.last_name"},
                  {"data": "patient_contacts.first_name"},
                  {"data": "patient_contacts.dob", "searchable": false},
                  {"data": "patient_contacts.sex"},
                  {"data": "patient_contacts.phone_number"},
                  {"data": "patient_contacts.passport_number"},
                  {"data": "patient_contacts.nationality"},
                  {"data": "patient_contacts.origin_country"},
                  {"data": "border_point.border_name"},
                  {"data": "patient_contacts.date_of_contact", "searchable": false},
                  {"data": "patient_contacts.created_by", "searchable": false},
                  {"data": "patient_contacts.truck_info", "searchable": false},
                  {"data": "patient_contacts.truck_prof", "searchable": false},

              ]
          });
      });
  </script>
{% endblock %}
